# Ignorar archivos del entorno virtual en la raiz
bin/
include/
lib/
lib64/
pyvenv.cfg
share/
/lib64

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración de entorno
.env
*.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de herramientas de desarrollo
.idea/
.vscode/

# Archivos de Jupyter (si usas notebooks)
.ipynb_checkpoints/

# Paquetes instalados (los reinstalarás desde requirements.txt)
*.egg-info/
dist/
build/
